.test-result-info {
  padding: 20px 24px 0;
}

.sticky {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  background: var(--color-bg-primary);
  z-index: 1;
}

.sticky {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  background: var(--color-bg-primary);
  z-index: 2;
}

.test-result-info-data {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 8px;

  & > *:not(:first-child):not(:empty) {
    border-left: 1px solid var(--color-border-default);
    padding-left: 12px;
  }
}

.test-result-name {
  margin-bottom: 8px;
  word-break: break-word;
}

.test-result-duration {
  color: var(--color-text-secondary);
}

.test-result-category {
  color: var(--color-text-secondary);
}

.test-result-tabs {
  border-bottom: 1px solid var(--color-border-default);
}

.test-result-tab {
  display: flex;
  gap: 4px;
  align-items: center;
}

.test-result-info-flaky {
  display: flex;
  align-items: center;
  gap: 2px;
}

.metadata-icon {
  margin-right: 8px;
  color: var(--color-icon-secondary);
}
